<!-- start custom head snippets -->

{% if page.header-img %}
    <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
{% endif %}

<meta property="og:description" content="{{ page.subtitle }}" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YDDQSP3430"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YDDQSP3430');
</script>

<!-- end custom head snippets -->
