---
layout: home
author_profile: true
---

{% for post in site.posts limit:3 %}
    <div>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <!-- call the featured-post-image.html template file -->
        {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </div>
{% endfor %}
